.manager-page {
  width: 90%;
  margin: 0 auto;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: inherit;

  padding: 1.5rem;
}

.card-container:hover {
  transition: all ease-in 0.5s;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
}

.top {
  display: flex;
  justify-content: space-between;
  margin: 2rem auto;
}

.credentials {
  text-align: center;
  max-width: 50%;
}

.buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
}

@media only screen and (min-width: 600px) {
  .manager-page {
    width: 70%;
  }
}
@media only screen and (min-width: 768px) {
  .manager-page {
    width: 60%;
  }
}
@media only screen and (min-width: 1200px) {
  .credentials {
    font-size: 1.2rem;
  }
  .buttons {
    flex-direction: row;
    gap: 24px;
    align-self: center;
  }
}
