.modal-edit-btn {
  cursor: pointer;
}

.modal-wrapper {
  position: absolute;
  left: 0%;
  top: 60px;
  width: 100%;
  height: 90%;
  background-color: rgba(136, 136, 136, 1);
  z-index: 2;
}

.form {
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.modal {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ebebeb;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 80%;
  }
}

@media only screen and (min-width: 1024px) {
  .modal {
    width: 60%;
  }
}
