.navbar {
  width: 100%;
  height: 60px;
  background-color: #1081dd;
  display: flex;
  font-size: 1.3rem;
}

.icon {
  width: 80px;
  background-color: blueviolet;
}

.options {
  width: 100%;
  display: flex;
  list-style-type: none;
  margin: auto 4rem;
  justify-content: space-evenly;
}
