.welcome-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  min-height: 80%;
  justify-content: space-evenly;
}

.title {
  font-size: 3.8rem;
  color: #fefefe;
  line-height: 6.8rem;
}

.instructions {
  color: #fefefe;
}
